#HTTP/2 Simulator Connection Configuration

## Local Informations
# Transport ( 0 : TCP                , 1 : TCP-TLS          )
# ConnType  ( 0 : Service-provider   , 1 : Service-Consumer )
## ==============================================================================================
## Type , L-Index, LocalIP1          , Service Port , Notify Port   , Transport     , ConnType
## ==============================================================================================
#   L    , 0      , 192.168.2.132    , 22000         , 22000         , 0             , 1
    L    , 1      , -                , 39999         , 49999         , 1             , 1
# ===============================================================================================

# Peer Informations
# Transport ( 0 : TCP                , 1 : TCP-TLS          )
# ConnType  ( 0 : Service-provider   , 1 : Service-Consumer )
# ===============================================================================================
# Type  , P-Index, PeerIP1           , Service Port , Notify Port   , Transport     , ConnType
# ===============================================================================================
#    P    , 0      , 192.168.2.130    , 9998          , 22000         , 0          , 0
#    P    , 1      , 172.217.161.142  , 443           , 443           , 1          , 0
     P    , 1      , google.com       , 443           , 444           , 1          , 0
#    P    , 1      , google.com       , 80            , 80            , 0          , 0
# ===============================================================================================


# SSL Informations
# ===============================================================================================
# Type  , Directory              , Server Cert     , Server Key      , Client Certs    , Client Key
# ===============================================================================================
   S    , ./cfg/certification    , server.crt      , server.key      , client.crt      , client.key
# ===============================================================================================


# TPS Informations ( ON/OFF : 0 => OFF , 1 : ON )
# ===============================================================================================
# Type  , Prefix     ,  Start-Sub , Max-Sub     , TPS    , Max-Stream-Id , Connection , TRACE
# ===============================================================================================
   T    , 502152101  ,  1         , 500000      , 20      , 10000000      , 0          , ON
# ===============================================================================================


# Setting Negotiation
# [feild]          [name](in rfc7540)      [default]     [min]  [max]
#  Max_Streams    : MAX_CONCURRENT_STREAMS  unlimited     0      unlimited
#  Init_Window    : INITIAL_WINDOW_SIZE     65535         0      2147483647   
#  Push           : ENABLE_PUSH             1             0      1
#  Max_Frame_Size : MAX_FRAME_SIZE          16384         ?      16777215 
#  Hdr_List_Size  : MAX_HEADER_LIST_SIZE    unlimited     ?      unlimited
#  Hdr_Table_Size : HEADER_TABLE_SIZE       4096          ?      ?

# ===============================================================================================
# Type  , MAX_STREAMS, INIT_WINDOW_SIZE, EN_PUSH, MAX_FRAME_SIZE, HEADER_LIST_SIZE, HEADER_TABLE_SIZE
# ===============================================================================================
   N    , 30001      , 65535001        , 0      , 16384         , 65536           , 4096
#  N    , 100        , 65535           , 1      , 16384         , 65536           , 4096   # hyper-h2 default
# ===============================================================================================

